<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Candidate – CAREERSMOB</title>
        <meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/basscss.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" rel="stylesheet">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="bclearfixsehappy">You are using an <strong>outdated</strong> bclearfixser. Please <a href="http://bclearfixsehappy.com/">upgrade your bclearfixser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


<div class="container p2">
	<div class="clearfix">
		<div class="col col-10 left p1 border">
			 <div class="col col-2 m1 py3 center border bg-lighter-gray rounded">Avatar
					 </div>
					 <div class="col col-8 ml2 py1 bg-lightgray mb3">
					 		<span class="h2">Jake<br> Burbon</span><br>
					 		<span class="h6">Python Programmer, wannabe SCRUM master</span>
					 </div>
					<div class="col col-8 px1 mr1 mb1 justify"><b>Career summary and objectives.</b> Get some interviewing advice. We will tell you what you need to work on and provide you with any additional problems that you could work on to improve your technical interviewing skill. 
					</div>
					 <div class="col col-12"><a href="" class="blue px1">&infin; Resume</a>
					 </div>
		</div>
		<div class="col col-2 ">
			<a href="index.html" class="h4 blue border right p1">Log Out</a>
		</div>
	</div>
</div>

<div class="container p2">
	<div class="clearfix">
		<a href="request.html" class="blue">
			<div class="col col-2 border center py2 rounded">
				<span class="h1 center p1 border circle">
				&nbsp;+&nbsp;</span><br>
				<span class="col h3 py2">Schedule an&nbsp;interview</span>
			</div>
		</a>
		<div class="col col-2 border center py3 ml1 rounded">
			<span class="h1 p1">Dec 12</span>
			<span class="h3 py2 center">Mark<br>Schultze</span>
		</div>
			
	</div>
</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
